QUES 1.

In [72]:
# Q1. For the three combined Marathon datasets, extract the top 25 records with lowest finish time (Officila Time column).
# Check the null hypothesis H0 = The average finishing time of the top 25 atheletes is 130 minutes. Test it for alpha =
# 1%, 5%, and 10% using a one-sample t-test (two-tailed test).

In [73]:
import pandas as pd
from scipy import stats
import time

In [74]:
df_2015 = pd.read_csv('/content/marathon_results_2015.csv')
df_2016 = pd.read_csv('/content/marathon_results_2016.csv')
df_2017 = pd.read_csv('/content/marathon_results_2017.csv')

In [75]:
df = pd.concat([df_2015, df_2016, df_2017])

In [76]:
#split the official time column into hours,minutes and seconds
df[['hours','minutes','seconds']]=df['Official Time'].str.split(':',expand=True)

In [77]:
#convert hours,minutes and seconds into integer
df['hours']=df['hours'].astype(int)
df['minutes']=df['minutes'].astype(int)
df['seconds']=df['seconds'].astype(int)

In [78]:
#calculate total time into seconds
df['total_time']=(df['hours']*3600)+(df['minutes']*60)+df['seconds']

In [79]:
#sort dataframe in ascending order
df=df.sort_values(by='total_time')
df=df.head(25)
print(df)

    Unnamed: 0 Bib                   Name  Age M/F              City State  \
0          0.0   3         Desisa, Lelisa   25   M              Ambo   NaN
0          0.0  11        Kirui, Geoffrey   24   M          Keringet   NaN
1          1.0   4  Tsegay, Yemane Adhane   30   M       Addis Ababa   NaN
1          1.0  17            Rupp, Galen   30   M          Portland    OR
2          2.0   8         Chebet, Wilson   29   M          Marakwet   NaN
2          2.0  23          Osako, Suguru   25   M      Machida-City   NaN
3          3.0  11       Kipyego, Bernard   28   M           Eldoret   NaN
4          4.0  10          Korir, Wesley   32   M            Kitale   NaN
5          5.0   9   Chepkwony, Frankline   30   M          Koibatek   NaN
6          6.0  14     Ritzenhein, Dathan   32   M          Rockford    MI
3          3.0  21       Biwott, Shadrack   32   M     Mammoth Lakes    CA
4          4.0   9         Chebet, Wilson   31   M          Marakwet   NaN
7          7.0   1        Keflezighi, Meb   39   M         San Diego    CA
5          5.0  15       Abdirahman, Abdi   40   M           Phoenix    AZ
0          NaN   5    Hayle, Lemi Berhanu   21   M       Addis Ababa   NaN
6          6.0  63     Maiyo, Augustus K.   33   M  Colorado Springs    CO
1          NaN   1         Desisa, Lelisa   26   M              Ambo   NaN
8          8.0   5           Tola, Tadese   27   M       Addis Ababa   NaN
10        10.0  22        Tegenkamp, Matt   33   M          Portland    OR
9          9.0  16        Shafar, Vitaliy   33   M             Lutsk   NaN
2          NaN   6  Tsegay, Yemane Adhane   31   M       Addis Ababa   NaN
3          NaN  11          Korir, Wesley   33   M            Kitale   NaN
11        11.0  19     Eggleston, Jeffrey   30   M           Boulder    CO
7          7.0   7            Sefir, Dino   28   M       Addis Ababa   NaN
8          8.0  18         Puskedra, Luke   27   M            Eugene    OR

   Country Citizen Unnamed: 9  ... Proj Time Official Time Overall Gender  \
0      ETH     NaN        NaN  ...         -       2:09:17       1      1
0      KEN     NaN        NaN  ...         -       2:09:37       1      1
1      ETH     NaN        NaN  ...         -       2:09:48       2      2
1      USA     NaN        NaN  ...         -       2:09:58       2      2
2      KEN     NaN        NaN  ...         -       2:10:22       3      3
2      JPN     NaN        NaN  ...         -       2:10:28       3      3
3      KEN     NaN        NaN  ...         -       2:10:47       4      4
4      KEN     NaN        NaN  ...         -       2:10:49       5      5
5      KEN     NaN        NaN  ...         -       2:10:52       6      6
6      USA     NaN        NaN  ...         -       2:11:20       7      7
3      USA     NaN        NaN  ...         -       2:12:08       4      4
4      KEN     NaN        NaN  ...         -       2:12:35       5      5
7      USA     NaN        NaN  ...         -       2:12:42       8      8
5      USA     NaN        NaN  ...         -       2:12:45       6      6
0      ETH     NaN        NaN  ...   2:12:45       2:12:45       1      1
6      USA     NaN        NaN  ...         -       2:13:16       7      7
1      ETH     NaN        NaN  ...   2:13:32       2:13:32       2      2
8      ETH     NaN        NaN  ...         -       2:13:35       9      9
10     USA     NaN        NaN  ...         -       2:13:52      11     11
9      UKR     NaN        NaN  ...         -       2:13:52      10     10
2      ETH     NaN        NaN  ...   2:14:02       2:14:02       3      3
3      KEN     NaN        NaN  ...   2:14:05       2:14:05       4      4
11     USA     NaN        NaN  ...         -       2:14:17      12     12
7      ETH     NaN        NaN  ...         -       2:14:26       8      8
8      USA     NaN        NaN  ...         -       2:14:45       9      9

   Division Unnamed: 8 hours minutes seconds total_time
0         1        NaN     2       9      17       7757
0         1        NaN     2       9      37       7777
1         2        NaN     2       9      48       7788
1         2        NaN     2       9      58       7798
2         3        NaN     2      10      22       7822
2         3        NaN     2      10      28       7828
3         4        NaN     2      10      47       7847
4         5        NaN     2      10      49       7849
5         6        NaN     2      10      52       7852
6         7        NaN     2      11      20       7880
3         4        NaN     2      12       8       7928
4         5        NaN     2      12      35       7955
7         8        NaN     2      12      42       7962
5         1        NaN     2      12      45       7965
0         1        NaN     2      12      45       7965
6         6        NaN     2      13      16       7996
1         2        NaN     2      13      32       8012
8         9        NaN     2      13      35       8015
10       11        NaN     2      13      52       8032
9        10        NaN     2      13      52       8032
2         3        NaN     2      14       2       8042
3         4        NaN     2      14       5       8045
11       12        NaN     2      14      17       8057
7         7        NaN     2      14      26       8066
8         8        NaN     2      14      45       8085

[25 rows x 30 columns]

QUES 2.

In [80]:
'''Q2. For the diabetes,divide people into two groups:(a)age<=40,(b)age>40.Take 30 samples each.Run a two-sample t-test to see if their
 Glucose levels have a significant difference.'''

'Q2. For the diabetes,divide people into two groups:(a)age<=40,(b)age>40.Take 30 samples each.Run a two-sample t-test to see if their\n Glucose levels have a significant difference.'

In [81]:
import pandas as pd
import numpy as np
from scipy import stats

In [82]:
df=pd.read_csv("/content/diabetes.csv")

In [83]:
# Divide people into two groups: (a) age <= 40, (b) age > 40

group_a = df[df['Age'] <= 40]
group_b = df[df['Age'] > 40]

# Take 30 samples each (if possible)
np.random.seed(0)
group_a_samples = group_a.sample(min(30, len(group_a)), replace=False)
group_b_samples = group_b.sample(min(30, len(group_b)), replace=False)

In [84]:
# Run a two-sample t-test to see if their Glucose levels have a significant difference
t_stat, p_val = stats.ttest_ind(group_a_samples['Glucose'], group_b_samples['Glucose'])
print("T-statistic:", t_stat)
print("P-value:", p_val)

# If the p-value is less than 0.05, we reject the null hypothesis and conclude that the Glucose levels are significantly different
if p_val < 0.05:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

T-statistic: -2.0150502635244076
P-value: 0.04854243976528464
Reject the null hypothesis

QUES 3.

In [85]:
'''Q3. Use the hypothermia dataset.Hypothermia is a medical condition that occurs when the body's core temperature drops below 35 degree celcius.
It is a medical emergency where the body loses heat faster than it can produce it,leading to dangerously low body temperatures.
Patients are treated for this condition.The t.1 column represents the patients body temperature when the patient got admitted.
The t.2 column represents the patients body temperature after the initial treatment.Run a paired t-test to find if the treatment was effective.'''

"Q3. Use the hypothermia dataset.Hypothermia is a medical condition that occurs when the body's core temperature drops below 35 degree celcius.\nIt is a medical emergency where the body loses heat faster than it can produce it,leading to dangerously low body temperatures.\nPatients are treated for this condition.The t.1 column represents the patients body temperature when the patient got admitted.\nThe t.2 column represents the patients body temperature after the initial treatment.Run a paired t-test to find if the treatment was effective."

In [86]:
df_hypo = pd.read_csv("/content/Hypothermia.csv")

# Perform a paired t-test
t_stat_paired, p_val_paired = stats.ttest_rel(df_hypo['t.1'], df_hypo['t.2'])

print("\nPaired t-test results for hypothermia treatment:")
print(f"t-statistic: {t_stat_paired}")
print(f"p-value: {p_val_paired}")

Paired t-test results for hypothermia treatment:
t-statistic: -22.284298214866393
p-value: 5.5720123452358365e-56

In [87]:
# Interpret the results of the paired t-test
alpha_paired = 0.05  # Using a common alpha level
if p_val_paired < alpha_paired:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

Reject the null hypothesis

QUES 4.

In [88]:
## Q4.
# For studentsperformance.csv, using ANOVA find if there is a significant difference in Maths marks depending on the level of parental education.

In [89]:
import pandas as pd
from scipy import stats

In [90]:
df = pd.read_csv('/content/StudentsPerformance.csv')

In [91]:
# We need to group the math scores by parental education level
groups = df.groupby('parental level of education')['math score'].apply(list)

In [92]:
# Extract the groups as separate lists for the ANOVA test
group1 = groups.get('some high school')
group2 = groups.get('high school')
group3 = groups.get('some college')
group4 = groups.get('associate\'s degree')
group5 = groups.get('bachelor\'s degree')
group6 = groups.get('master\'s degree')
# Perform one-way ANOVA

In [93]:
f_statistic, p_value = stats.f_oneway(group1, group2, group3, group4, group5, group6)
print("F-statistic:", f_statistic)
print("P-value:", p_value)

F-statistic: 6.521582600453217
P-value: 5.592272384107223e-06

In [94]:
# Interpret the results
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

Reject the null hypothesis

QUES 5.

In [95]:
# Q5.
# Use dataset airline_passenger_satisfaction.csv. For male passengers, determine if passenger class and ratings given to "onboard services" are independent
# Separately repeat for female passengers

In [96]:
import pandas as pd
from scipy import stats
from scipy.stats import chi2_contingency

In [97]:
df = pd.read_csv('/content/airline_passenger_satisfaction.csv')

In [98]:
# Separate data for male and female passengers
male_df = df[df['Gender'] == 'Male'].copy()
female_df = df[df['Gender'] == 'Female'].copy()

In [99]:
# For Male Passengers
print("Analysis for Male Passengers:")
# Create a contingency table of 'Class' and 'On-board service'
male_contingency_table = pd.crosstab(male_df['Class'], male_df['On-board Service'])
print("\nContingency Table (Male Passengers):\n", male_contingency_table)

Analysis for Male Passengers:

Contingency Table (Male Passengers):
 On-board Service  0     1     2     3      4     5
Class
Business          2  2053  3379  5826  10743  8894
Economy           0  4420  4430  7403   7535  4851
Economy Plus      0   791   792  1118   1076   668

In [100]:
# Perform the Chi-squared test for independence
chi2_male, p_male, dof_male, expected_male = stats.chi2_contingency(male_contingency_table)

print("\nChi-squared statistic (Male):", chi2_male)
print("P-value (Male):", p_male)

Chi-squared statistic (Male): 3277.65893042465
P-value (Male): 0.0

In [101]:
# Interpret the results for male passengers
alpha = 0.05
if p_male < alpha:
  print("Reject the null hypothesis")
else:
  print("Fail to reject the null hypothesis")

print("-" * 50) # Separator

# For Female Passengers
print("Analysis for Female Passengers:")
# Create a contingency table of 'Class' and 'On-board service'
female_contingency_table = pd.crosstab(female_df['Class'], female_df['On-board Service'])
print("\nContingency Table (Female Passengers):\n", female_contingency_table)

Reject the null hypothesis
--------------------------------------------------
Analysis for Female Passengers:

Contingency Table (Female Passengers):
 On-board Service  0     1     2     3      4     5
Class
Business          3  2065  3425  5926  10738  9106
Economy           0  4659  5366  7103   7387  5155
Economy Plus      0   799   959  1166   1224   818

In [102]:
# Perform the Chi-squared test for independence
chi2_female, p_female, dof_female, expected_female = stats.chi2_contingency(female_contingency_table)

print("\nChi-squared statistic (Female):", chi2_female)
print("P-value (Female):", p_female)

Chi-squared statistic (Female): 3510.798006324988
P-value (Female): 0.0

In [103]:
# Interpret the results for female passengers
if p_female < alpha:
  print("Reject the null hypothesis.")
else:
  print("Fail to reject the null hypothesis")

Reject the null hypothesis.

QUES 6.

In [104]:
# Q6.
# Use datset Amazon Sale Report.
# are order fulfillment and order status independent? consider only cancelled and pending orders.

In [105]:
import pandas as pd
from scipy.stats import chi2_contingency

In [106]:
df = pd.read_csv('/content/Amazon Sale Report.csv')

<ipython-input-106-056aaa6327c3>:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/Amazon Sale Report.csv')

In [107]:
# Filter for 'Cancelled' and 'Pending' orders
filtered_df = df[df['Status'].isin(['Cancelled', 'Pending'])].copy()

In [108]:
# Create a contingency table of 'Order Fulfillment' and 'Order Status'
contingency_table = pd.crosstab(filtered_df['Fulfilment'], filtered_df['Status'])
print("Contingency Table:\n", contingency_table)

Contingency Table:
 Status      Cancelled  Pending
Fulfilment
Amazon          11471      415
Merchant         6861      243

In [109]:
# Perform the Chi-squared test for independence
chi2, p, dof, expected = stats.chi2_contingency(contingency_table)
print("\nChi-squared statistic:", chi2)
print("P-value:", p)

Chi-squared statistic: 0.04729799287402296
P-value: 0.8278334990054204

In [110]:
# Interpret the results
alpha = 0.05
if p < alpha:
  print("Reject the null hypothesis")
else:
  print("Fail to reject the null hypothesis")

Fail to reject the null hypothesis